.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
    display: inline-block;
}

.page-container:after {
    clear: both;
    content: "";
    display: table;
}

.page-container ul {
    width: 100%;
}

.middle {
    width: 32rem;
}

ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

li {
    counter-increment: pagination;
}

li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

li:first-child {
    float: left;
}

li:first-child a:after {
    content: "Previous";
}

li:nth-child(2) {
    counter-reset: pagination;
}

li:last-child {
    float: right;
}

li:last-child a:after {
    content: "Next";
}

li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}

li a:after {
    content: " " counter(pagination) " ";
}

.middle li a {
    display: none;
}

.middle li:first-child a {
    display: inline-block;
}

.middle li:first-child a:after {
    content: "<";
}

.middle li:last-child a {
    display: inline-block;
}

.middle li:last-child a:after {
    content: ">";
}

.middle li:nth-child(2) a {
    display: inline-block;
}

.middle li:nth-child(3) a {
    display: inline-block;
}

.middle li:nth-child(4) a {
    display: inline-block;
}

.middle li:nth-child(5) a {
    display: inline-block;
}

.middle li:nth-last-child(2) a {
    display: inline-block;
}

.middle li:nth-last-child(3) {
    display: inline-block;
}

.middle li:nth-last-child(3):after {
    padding: 0 1rem;
    content: "...";
}

.products-wrapper {
    display: flex;
}

.product-filter {
    text-align: left;
    background-color: #1685C5;
    padding: 25px;
    color: #ffffff;
    width: 20%;
}

.product-list {
    padding: 50px;
}

.product {
    display: inline-block;
    width: 300px;
    border: 1px solid #6F6F6F;
    border-radius: 26px;
    margin: 5px;
    vertical-align: top;
    background-color: #B4CDEB;
    overflow: hidden;
    position: relative;
}

.product__sale {
    position: absolute;
    top: -3%;
    left: 0%;
    height: 125px;
    z-index: 5;
}

.product__image {
    width: 100%;
    border-bottom: 2px solid #6F6F6F;
}

.product__details {
    text-align: center;
    padding: 5px 5px 15px 5px;
}

.product__details-price {
    font-weight: bold;
    font-size: 20px;
}

.product__details-button {
    border-radius: 26px;
    height: 48px;
    width: 70%;
    font-size: 20px;
    color: #ffffff;
    background-color: #1685C5;
    border: 1px solid #1685C5;
}

.product__details-button:focus {
    outline: none;
}

.product__details-button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px #ffffff;
}
