.page-container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
    display: inline-block;
}

.page-container:after {
    clear: both;
    content: "";
    display: table;
}

.page-container ul {
    width: 100%;
}

.middle {
    width: 65%;
}

.products-wrapper {
    display: flex;
}

.product-filter {
    text-align: left;
    background-color: #1685C5;
    padding: 25px;
    color: #ffffff;
    width: 20%;
}

.product-filter__heading {
    margin: 15px 0;
}

.product-list {
    padding: 50px;
}

.product {
    display: inline-block;
    width: 300px;
    border: 1px solid #6F6F6F;
    border-radius: 26px;
    margin: 5px;
    vertical-align: top;
    background-color: #B4CDEB;
    overflow: hidden;
    position: relative;
}

.product__sale {
    position: absolute;
    top: -3%;
    left: 0;
    height: 125px;
    z-index: 5;
}

.product__image {
    width: 100%;
    border-bottom: 2px solid #6F6F6F;
}

.product__details {
    text-align: center;
    padding: 5px 5px 15px 5px;
}

.product__details-price {
    font-weight: bold;
    font-size: 20px;
}

.product__details-button {
    border-radius: 26px;
    height: 48px;
    width: 70%;
    font-size: 20px;
    color: #ffffff;
    background-color: #1685C5;
    border: 1px solid #1685C5;
}

.product__details-button:focus {
    outline: none;
}

.product__details-button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px #ffffff;
}

.pagination__button {
    border-radius: 26px;
    background: #1685C5;
    border: 1px solid #1685C5;
    color: white;
    font-size: 18px;
    padding: 4px 15px;
    margin: 5px;
}

.pagination__button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px #6F6F6F;
}

.product__details-description {
    height: 120px;
    text-overflow: ellipsis;
}
