.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
    display: inline-block;
}
.page-container:after {
    clear: both;
    content: "";
    display: table;
}
.page-container ul {
    width: 100%;
}

.middle {
    width: 32rem;
}

ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

li {
    counter-increment: pagination;
}
li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}
li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}
li:first-child {
    float: left;
}
li:first-child a:after {
    content: "Previous";
}
li:nth-child(2) {
    counter-reset: pagination;
}
li:last-child {
    float: right;
}
li:last-child a:after {
    content: "Next";
}
li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}
li a:after {
    content: " " counter(pagination) " ";
}

.middle li a {
    display: none;
}
.middle li:first-child a {
    display: inline-block;
}
.middle li:first-child a:after {
    content: "<";
}
.middle li:last-child a {
    display: inline-block;
}
.middle li:last-child a:after {
    content: ">";
}
.middle li:nth-child(2) a {
    display: inline-block;
}
.middle li:nth-child(3) a {
    display: inline-block;
}
.middle li:nth-child(4) a {
    display: inline-block;
}
.middle li:nth-child(5) a {
    display: inline-block;
}
.middle li:nth-last-child(2) a {
    display: inline-block;
}
.middle li:nth-last-child(3) {
    display: inline-block;
}
.middle li:nth-last-child(3):after {
    padding: 0 1rem;
    content: "...";
}

.product {
    display: inline-block;
    max-width: 300px;
    border: 1px solid #6F6F6F;
    border-radius: 15px;
    margin: 20px;
    vertical-align: top;
    background-color: #B4CDEB;
    overflow: hidden;
}

.product__container {
    display: inline-block;
}

.product__image {
    width: 100%;
    border-bottom: 3px solid #6F6F6F;
}

.product__details {
    padding: 5px;
    text-align: center;
}

.product__details-price {
    font-weight: bold;
    font-size: 18px;
}

.product__details {
    padding: 10px
}

.product__filter, .product__list {
    display: inline-block;
    float: left;
    margin: 20px;
}

.product__filter-item {
    font-size: 20px;
    cursor: pointer;
}

.product__list {
    max-width: 1400px;
}