.product {
    border: 1px solid #6F6F6F;
    border-radius: 26px;
    overflow: hidden;
    margin: 50px 0;
    display: inline-block;
}

.product__image {
    border-right: 2px solid #6F6F6F;
    float: left;
}

.product__wrapper {
    display: inline-block;
    width: 700px;
}

.product__details {
    padding: 20px 40px;
}

.product__name {
    border-bottom: 2px solid #6F6F6F;
    padding: 10px 0;
    background-color: #1685C5;
    color: white;
    margin-top: 0;
}

.product__code--bold {
    font-weight: bold;
}

.product__label {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 26px;
    margin-right: 20px;
    font-size: 18px;
}

.product__label--blue {
    border: 2px solid #1685C5;
}

.product__description {
    margin: 40px 10px;
    font-size: 18px;
    line-height: 1.5;
}

.product__badge {
    padding: 5px 20px;
    border-radius: 26px;
    margin: 0 20px;
    font-size: 18px;
}

.product__badge--green {
    border: 2px solid forestgreen;
    background-color: lightgreen;
}

.product__badge--orange {
    border: 2px solid darkorange;
    background-color: bisque;
}

.product__price, .product__quantity {
    margin: 25px 0;
    font-size: 20px;
    text-align: left;
}

.product__details-button {
    border-radius: 26px;
    height: 48px;
    width: 70%;
    font-size: 20px;
    color: white;
    background-color: #1685C5;
    border: 1px solid #1685C5;
    cursor: pointer;
}